/***
#Header {
    color: blueviolet;
    font-weight: bold;
}

.parrafosCentrados{
    text-align: center;
}

a:link {
    background-color: darkolivegreen;
    color: white;
}

a:visited{
    background-color: blueviolet;
    color: white;
}

a:hover{
    background-color: dodgerblue;
    color: #c02424;
}

a:active{
    background-color: #5e7688;
    color: #299429;
}
**/
#barraLateral {
height: 81%;
    top: 12%;
    left: 0;
    width: 20%;
    position: absolute;
    background: dodgerblue;
    padding: 10px;
}

#contenido {
    height: 81%;
    top: 12%;
    left: 20%;
    width: 80%;
    position: absolute;
    background: aliceblue;
    padding: 10px;
}

#piePagina{
    position: absolute;
    height: 7%;
    top: 93%;
    left: 0;
    width: 100%;
    background: #445569;
    padding-top: 10px;
    text-align: center;


}